@model Books.ViewModels.BookDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<style>
    body {
        background-image: linear-gradient(to right, #ffec7a, #f2b93a);
    }
</style>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.YearPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.YearPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.NumPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.NumPages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.FrontPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.FrontPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.DownloadUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.DownloadUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Book.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <p><a asp-action="Edit" asp-route-id="@Model?.Book.Id">Edit</a>|</p>
    }
    @if (Model.Purchased == "Yes")
    {
        <a asp-controller="Reviews" asp-action="Create" asp-route-id="@Model?.Book.Id">Add review</a>
    }
</div>